body{

height: 100% !important;

}
.navbar{
	 
    background-color: var(--AIC);
    height:78px;
    width:100%;


   
  
}

.navbar .searchArea{
 width:auto;
	float: right !important;
  margin-top: -17px;
	border-radius: 5px 5px 5px 5px;
  background:#f1f2f4;
  display:grid;
  grid-template-columns: 130px auto;
  vertical-align: middle;
	border:0px;
  position: fixed;
  z-index:1 !important;
  margin-left:20px;
  right:5px !important;


}

 img.profilePic{

    width: 45px;
    height: 42px;
    border-radius: 30%;
    user-select: none;
    vertical-align: middle;
}
.search-menu{
  width:100% !important;
  background: #f1f2f4 !important;
	float:left;
  padding-right:40px !important;
  padding-left:10px !important;
	height:35px;
  margin-top:3px;
  display: flex;
	border:0px solid red;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px 20px 20px 0px;
 background: white;
  outline:none;
	

}
.navbar .left{

display: inline-flex;
vertical-align: middle;

}

.navbar .right{
 display: inline-flex;
 vertical-align: middle;

}


.searchArea .remove{
    width: 25px;
    height: 25px;
     float:right;
     right:5px !important;
     margin-right: 5px;
    
    margin-top: 7px;
    position: fixed;
  
    box-sizing: border-box;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 90%;
    border:none;
     background-image: url(/cancel_round_blue.svg);

}
.searchArea .remove:hover{
    background-image: url(/times-circle-regular.svg);}



.dropoption{

	float:left;


	background: #f1f2f4;
	  background: white;
  box-shadow: 1px 1px 3px 1px #888888;
margin-left: -11px;
margin-top: 2px;
  z-index:4 !important;

}
.itm{

  width:130px;
  border-bottom: 1px solid rgb(225, 225, 208) !important;
  padding: 10px 0px 10px 10px;
  justify-content: center;
  align-content: middle;
  text-align: left;
  color:var(--PrimaryC);
  font-size: 15px;
  cursor:pointer;
    z-index:4 !important;
      background: #f1f2f4;





}

.itm:hover{
  color:white;
  background: var(--PrimaryC);
 
  
}
.dropbtn{
	float:left;
	width:130px;
  z-index:4 !important;
  background: #f1f2f4 !important;
  
	text-align: left;
	height:35px;
	border:0px solid red;
	padding-top: 5px;
  margin-top: 3px;
	padding-left:11px;
	display: block;
   background: white;
  border-radius: 20px 0px 0px 20px;
  
}


.leftnavbar{

}
.profileName{
  font-size: 18px;
  font-weight: normal;
  font-family: sans-serif;
    border-right:2px solid var(--PrimaryC);
   height:30px;
   padding-right: 10px;
  float:right;
  display: inline;
  margin-left:10px;
  margin-top: 8px;
  color:var(--PrimaryC);
  overflow-x: hidden;
  vertical-align: middle !important;

}

.navIcon{

  height:30px;
  
  border-right:2px solid var(--PrimaryC);
  float:left;
  padding-right: 5px;
  margin-right:  7px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;

}
.navIcon ul{
  padding: 0px 0px 0px 0px !important;
  display: inline;

}

.navIcon li{
  list-style-type: none;
  display: inline-block;
  padding:0px 0px 0px 0px !important;
  cursor: pointer;
  margin-left: 5px;
   height: 32px;
    width: 32px;
  
    background-color: var(--PrimaryC);
    border-radius: 50%;
    float: left;
    cursor: pointer;
    box-sizing: border-box;

    border: 2px solid #ffffff;
    transition: all 0.2s ease;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;

    margin-top: 0px;


}

.navIcon li:hover{
  border:2px solid var(--NewSimpleRed);
}
.audio{
  background: url('/voice_call_for_profile.svg');
}

 .video{
    background: url('/video_call_for_profile.svg');


  } 
  .pin{
        background: url('/custom_pinned.svg');
    } 
  .unpin{
        background: url('/custom_not_pin.svg');
    } 

    .more{
      background: url('/More_Menu_White.svg');
     background-size: 24px !important;


      } 

  .searchIcon{
     background: url('/search_icon_for_todo_chat.svg');

    
}
